#!/bin/sh

configfile=Devcodes.h
testfile=bakken_conftest

rm -f $configfile
touch $configfile

rm -f $testfile*
echo "#include <sys/mkdev.h>" > $testfile.c
eval "${CC:-cc} -E $testfile.c > $testfile.out  2>$testfile.err"
if [ `grep -v -c  '^ *+' $testfile.err` -eq 0 ] ; then
  if [ `grep -c "major *(" $testfile.out` -ne 0 ] ; then
     echo "#define MAJOR_IN_MKDEV 1" >> $configfile
     rm -f $testfile*
     exit 0
  fi
fi

rm -f $testfile*
echo "#include <sys/sysmacros.h>" > $testfile.c
eval "${CC:-cc} -E $testfile.c > $testfile.out  2>$testfile.err"
if [ `grep -v -c  '^ *+' $testfile.err` -eq 0 ] ; then
  if [ `grep -c 'major *(' $testfile.out` -ne 0 ] ; then
     echo "#define MAJOR_IN_SYSMACROS 1" >> $configfile
     rm -f $testfile*
     exit 0
  fi
fi

rm -f $testfile*
