#########################################################################
# Build Scheme Version
# 
UAS_Build_Version = v3_3

#########################################################################
# Parallel flag "&" for parallel, ";" for sequential builds
# Directory to keep .o files etc. in if on another filesystem
# 
P=&
Hide=

#########################################################################
# UPS stuff
#	ups database directory
#	ups product name
#	ups product version
#	ups dependencies, do both build and use here
#
Database=/usr/products/src1/devel_database
Product=ftt
Version=v1_4
PatchLevel=
Dependencies=
Chain=test

#########################################################################
# Sources:
#	 yes -> build tarfiles with sources
#	 yes -> build tarfiles with sources
#	both -> build tarfiles with and without sources
#
Sources=yes

#########################################################################
# Flavors we need to build
#
Flavors = AIX IRIX+5  OSF1+V3 SunOS+5

#########################################################################
# Shared directories, files
#
CommonFlavorDirs = ups doc
CommonFlavorFiles = README Makefile.plain

#########################################################################
# Directories, Files per-flavor
#
PerFlavorDirs = bin lib etc include
PerFlavorFiles = Makefile BUILD_INFO ftt_lib/local

#########################################################################
# Test routine
#
TestScript = 

#########################################################################
# Modules to build 
#
Modules=ftt_lib ftt_test

#########################################################################
# Module config rules
Config.ftt_lib:

Build.ftt_lib:
	cd $M; make 

Install.ftt_lib:
	cd $M; make install

Config.ftt_test:

Build.ftt_test:
	cd $M; make

Install.ftt_test:
	cd $M; make install
